@charset "utf-8";
/* CSS Document */


/* ---------------------------------------------------------------------- */
/* "Polyglot" Language Switcher
/* ----------------------------------------------------------------------
Version: 2.2
Author: Ixtendo
Author URI: http://www.ixtendo.com
License: MIT License
License URI: http://www.opensource.org/licenses/mit-license.php
------------------------------------------------------------------------- */


/* ---------------------------------------------------------------------- */
/* TABLE OF CONTENTS
/* ----------------------------------------------------------------------
-Generic
-JS-created Code
------------------------------------------------------------------------- */


/* ---------------------------------------------------------------------- */
/* Generic
/* ---------------------------------------------------------------------- */
#polyglotLanguageSwitcher, #polyglotLanguageSwitcher * {
	margin: 0;
	padding: 0; 
	outline: none;
}

#polyglotLanguageSwitcher ul {
	list-style: none;	
}

#polyglotLanguageSwitcher {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	color: #444;
	line-height: normal;
	position: relative; /* sets the initial position for the drop-down menu */	
	z-index: 100;
}

#polyglotLanguageSwitcher form {
	display: none;	
}

/* ---------------------------------------------------------------------- */
/* JS-created Code
/* ---------------------------------------------------------------------- */
#polyglotLanguageSwitcher a {
	text-decoration: none;
	display: block;	
	padding: 0.5em 6px 0.5em 28px; /* 6px 6px 6px 28px */
	color: #444;
	width: 7em; /* 84px; total width: 120px */
	background-repeat: no-repeat;
	background-position: 6px center; 
}

#polyglotLanguageSwitcher a:hover {
	color: #000;	
}

#polyglotLanguageSwitcher a.current:link, #polyglotLanguageSwitcher a.current:visited, #polyglotLanguageSwitcher a.current:active {
	position: relative; /* sets the initial position for the trigger arrow */
	background-color: #FFF;
	border: 1px solid #E5E5E5;
	border-radius: 3px;
	height: 1.25em; /* 15px */
}

#polyglotLanguageSwitcher a.current:hover, 
#polyglotLanguageSwitcher ul.dropdown li:hover {
	background-color: #F7F7F7;
}

#polyglotLanguageSwitcher a.active { /* This style is applied as long as the drop-down menu is visible. */
	border-bottom: none !important;
	border-radius: 3px 3px 0 0 !important;
}

#polyglotLanguageSwitcher span.trigger {
	display: block;
	position: absolute;
	width: 9px;
	height: 5px;
	text-indent: -10000em;
	top: 0.5em; /* 6px */
	right: 6px;
}

#polyglotLanguageSwitcher a.current:link span.trigger, #polyglotLanguageSwitcher a.current:visited span.trigger {
	background: url(../images/arrow-down.gif) no-repeat left top;	
}

#polyglotLanguageSwitcher a.current:hover span.trigger, #polyglotLanguageSwitcher a.current:active span.trigger, #polyglotLanguageSwitcher a.active span.trigger {
	background-position: left bottom !important;
}

/* Drop-Down Menu */

#polyglotLanguageSwitcher ul.dropdown { 
	display: none;
	position: absolute;
	top: 2.333em; /* 28px */
	left: 0;
	background-color: #FFF;
	border: 1px solid #E5E5E5;
	border-top: none !important;
	border-radius: 0 0 3px 3px;
}

#polyglotLanguageSwitcher ul.dropdown li { 
	border-top: 1px dotted #D4D4D4;
}

#polyglotLanguageSwitcher ul.dropdown li:last-child { 
	border-radius: 0 0 3px 3px;
}

/* Flags */


#ad{
background-image: url(../images/flags/ad.png);
}
#ae{
background-image: url(../images/flags/ae.png);
}
#af{
background-image: url(../images/flags/af.png);
}
#ag{
background-image: url(../images/flags/ag.png);
}
#ai{
background-image: url(../images/flags/ai.png);
}
#al{
background-image: url(../images/flags/al.png);
}
#am{
background-image: url(../images/flags/am.png);
}
#an{
background-image: url(../images/flags/an.png);
}
#ao{
background-image: url(../images/flags/ao.png);
}
#ar{
background-image: url(../images/flags/ar.png);
}
#as{
background-image: url(../images/flags/as.png);
}
#at{
background-image: url(../images/flags/at.png);
}
#au{
background-image: url(../images/flags/au.png);
}
#aw{
background-image: url(../images/flags/aw.png);
}
#ax{
background-image: url(../images/flags/ax.png);
}
#az{
background-image: url(../images/flags/az.png);
}
#ba{
background-image: url(../images/flags/ba.png);
}
#bb{
background-image: url(../images/flags/bb.png);
}
#bd{
background-image: url(../images/flags/bd.png);
}
#be{
background-image: url(../images/flags/be.png);
}
#bf{
background-image: url(../images/flags/bf.png);
}
#bg{
background-image: url(../images/flags/bg.png);
}
#bh{
background-image: url(../images/flags/bh.png);
}
#bi{
background-image: url(../images/flags/bi.png);
}
#bj{
background-image: url(../images/flags/bj.png);
}
#bm{
background-image: url(../images/flags/bm.png);
}
#bn{
background-image: url(../images/flags/bn.png);
}
#bo{
background-image: url(../images/flags/bo.png);
}
#br{
background-image: url(../images/flags/br.png);
}
#bs{
background-image: url(../images/flags/bs.png);
}
#bt{
background-image: url(../images/flags/bt.png);
}
#bv{
background-image: url(../images/flags/bv.png);
}
#bw{
background-image: url(../images/flags/bw.png);
}
#by{
background-image: url(../images/flags/by.png);
}
#bz{
background-image: url(../images/flags/bz.png);
}
#ca{
background-image: url(../images/flags/ca.png);
}
#catalonia{
background-image: url(../images/flags/catalonia.png);
}
#cc{
background-image: url(../images/flags/cc.png);
}
#cd{
background-image: url(../images/flags/cd.png);
}
#cf{
background-image: url(../images/flags/cf.png);
}
#cg{
background-image: url(../images/flags/cg.png);
}
#ch{
background-image: url(../images/flags/ch.png);
}
#ci{
background-image: url(../images/flags/ci.png);
}
#ck{
background-image: url(../images/flags/ck.png);
}
#cl{
background-image: url(../images/flags/cl.png);
}
#cm{
background-image: url(../images/flags/cm.png);
}
#cn{
background-image: url(../images/flags/cn.png);
}
#co{
background-image: url(../images/flags/co.png);
}
#cr{
background-image: url(../images/flags/cr.png);
}
#cs{
background-image: url(../images/flags/cs.png);
}
#cu{
background-image: url(../images/flags/cu.png);
}
#cv{
background-image: url(../images/flags/cv.png);
}
#cx{
background-image: url(../images/flags/cx.png);
}
#cy{
background-image: url(../images/flags/cy.png);
}
#cz{
background-image: url(../images/flags/cz.png);
}
#de{
background-image: url(../images/flags/de.png);
}
#dj{
background-image: url(../images/flags/dj.png);
}
#dk{
background-image: url(../images/flags/dk.png);
}
#dm{
background-image: url(../images/flags/dm.png);
}
#do{
background-image: url(../images/flags/do.png);
}
#dz{
background-image: url(../images/flags/dz.png);
}
#ec{
background-image: url(../images/flags/ec.png);
}
#ee{
background-image: url(../images/flags/ee.png);
}
#eg{
background-image: url(../images/flags/eg.png);
}
#eh{
background-image: url(../images/flags/eh.png);
}
#england{
background-image: url(../images/flags/england.png);
}
#er{
background-image: url(../images/flags/er.png);
}
#es{
background-image: url(../images/flags/es.png);
}
#et{
background-image: url(../images/flags/et.png);
}
#europeanunion{
background-image: url(../images/flags/europeanunion.png);
}
#fam{
background-image: url(../images/flags/fam.png);
}
#fi{
background-image: url(../images/flags/fi.png);
}
#fj{
background-image: url(../images/flags/fj.png);
}
#fk{
background-image: url(../images/flags/fk.png);
}
#fm{
background-image: url(../images/flags/fm.png);
}
#fo{
background-image: url(../images/flags/fo.png);
}
#fr{
background-image: url(../images/flags/fr.png);
}
#ga{
background-image: url(../images/flags/ga.png);
}
#en{
background-image: url(../images/flags/gb.png);
}
#gd{
background-image: url(../images/flags/gd.png);
}
#ge{
background-image: url(../images/flags/ge.png);
}
#gf{
background-image: url(../images/flags/gf.png);
}
#gh{
background-image: url(../images/flags/gh.png);
}
#gi{
background-image: url(../images/flags/gi.png);
}
#gl{
background-image: url(../images/flags/gl.png);
}
#gm{
background-image: url(../images/flags/gm.png);
}
#gn{
background-image: url(../images/flags/gn.png);
}
#gp{
background-image: url(../images/flags/gp.png);
}
#gq{
background-image: url(../images/flags/gq.png);
}
#gr{
background-image: url(../images/flags/gr.png);
}
#gs{
background-image: url(../images/flags/gs.png);
}
#gt{
background-image: url(../images/flags/gt.png);
}
#gu{
background-image: url(../images/flags/gu.png);
}
#gw{
background-image: url(../images/flags/gw.png);
}
#gy{
background-image: url(../images/flags/gy.png);
}
#hk{
background-image: url(../images/flags/hk.png);
}
#hm{
background-image: url(../images/flags/hm.png);
}
#hn{
background-image: url(../images/flags/hn.png);
}
#hr{
background-image: url(../images/flags/hr.png);
}
#ht{
background-image: url(../images/flags/ht.png);
}
#hu{
background-image: url(../images/flags/hu.png);
}
#id{
background-image: url(../images/flags/id.png);
}
#ie{
background-image: url(../images/flags/ie.png);
}
#il{
background-image: url(../images/flags/il.png);
}
#in{
background-image: url(../images/flags/in.png);
}
#io{
background-image: url(../images/flags/io.png);
}
#iq{
background-image: url(../images/flags/iq.png);
}
#ir{
background-image: url(../images/flags/ir.png);
}
#is{
background-image: url(../images/flags/is.png);
}
#it{
background-image: url(../images/flags/it.png);
}
#jm{
background-image: url(../images/flags/jm.png);
}
#jo{
background-image: url(../images/flags/jo.png);
}
#jp{
background-image: url(../images/flags/jp.png);
}
#ke{
background-image: url(../images/flags/ke.png);
}
#kg{
background-image: url(../images/flags/kg.png);
}
#kh{
background-image: url(../images/flags/kh.png);
}
#ki{
background-image: url(../images/flags/ki.png);
}
#km{
background-image: url(../images/flags/km.png);
}
#kn{
background-image: url(../images/flags/kn.png);
}
#kp{
background-image: url(../images/flags/kp.png);
}
#kr{
background-image: url(../images/flags/kr.png);
}
#kw{
background-image: url(../images/flags/kw.png);
}
#ky{
background-image: url(../images/flags/ky.png);
}
#kz{
background-image: url(../images/flags/kz.png);
}
#la{
background-image: url(../images/flags/la.png);
}
#lb{
background-image: url(../images/flags/lb.png);
}
#lc{
background-image: url(../images/flags/lc.png);
}
#li{
background-image: url(../images/flags/li.png);
}
#lk{
background-image: url(../images/flags/lk.png);
}
#lr{
background-image: url(../images/flags/lr.png);
}
#ls{
background-image: url(../images/flags/ls.png);
}
#lt{
background-image: url(../images/flags/lt.png);
}
#lu{
background-image: url(../images/flags/lu.png);
}
#lv{
background-image: url(../images/flags/lv.png);
}
#ly{
background-image: url(../images/flags/ly.png);
}
#ma{
background-image: url(../images/flags/ma.png);
}
#mc{
background-image: url(../images/flags/mc.png);
}
#md{
background-image: url(../images/flags/md.png);
}
#me{
background-image: url(../images/flags/me.png);
}
#mg{
background-image: url(../images/flags/mg.png);
}
#mh{
background-image: url(../images/flags/mh.png);
}
#mk{
background-image: url(../images/flags/mk.png);
}
#ml{
background-image: url(../images/flags/ml.png);
}
#mm{
background-image: url(../images/flags/mm.png);
}
#mn{
background-image: url(../images/flags/mn.png);
}
#mo{
background-image: url(../images/flags/mo.png);
}
#mp{
background-image: url(../images/flags/mp.png);
}
#mq{
background-image: url(../images/flags/mq.png);
}
#mr{
background-image: url(../images/flags/mr.png);
}
#ms{
background-image: url(../images/flags/ms.png);
}
#mt{
background-image: url(../images/flags/mt.png);
}
#mu{
background-image: url(../images/flags/mu.png);
}
#mv{
background-image: url(../images/flags/mv.png);
}
#mw{
background-image: url(../images/flags/mw.png);
}
#mx{
background-image: url(../images/flags/mx.png);
}
#my{
background-image: url(../images/flags/my.png);
}
#mz{
background-image: url(../images/flags/mz.png);
}
#na{
background-image: url(../images/flags/na.png);
}
#nc{
background-image: url(../images/flags/nc.png);
}
#ne{
background-image: url(../images/flags/ne.png);
}
#nf{
background-image: url(../images/flags/nf.png);
}
#ng{
background-image: url(../images/flags/ng.png);
}
#ni{
background-image: url(../images/flags/ni.png);
}
#nl{
background-image: url(../images/flags/nl.png);
}
#no{
background-image: url(../images/flags/no.png);
}
#np{
background-image: url(../images/flags/np.png);
}
#nr{
background-image: url(../images/flags/nr.png);
}
#nu{
background-image: url(../images/flags/nu.png);
}
#nz{
background-image: url(../images/flags/nz.png);
}
#om{
background-image: url(../images/flags/om.png);
}
#pa{
background-image: url(../images/flags/pa.png);
}
#pe{
background-image: url(../images/flags/pe.png);
}
#pf{
background-image: url(../images/flags/pf.png);
}
#pg{
background-image: url(../images/flags/pg.png);
}
#ph{
background-image: url(../images/flags/ph.png);
}
#pk{
background-image: url(../images/flags/pk.png);
}
#pl{
background-image: url(../images/flags/pl.png);
}
#pm{
background-image: url(../images/flags/pm.png);
}
#pn{
background-image: url(../images/flags/pn.png);
}
#pr{
background-image: url(../images/flags/pr.png);
}
#ps{
background-image: url(../images/flags/ps.png);
}
#pt{
background-image: url(../images/flags/pt.png);
}
#pw{
background-image: url(../images/flags/pw.png);
}
#py{
background-image: url(../images/flags/py.png);
}
#qa{
background-image: url(../images/flags/qa.png);
}
#re{
background-image: url(../images/flags/re.png);
}
#ro{
background-image: url(../images/flags/ro.png);
}
#rs{
background-image: url(../images/flags/rs.png);
}
#ru{
background-image: url(../images/flags/ru.png);
}
#rw{
background-image: url(../images/flags/rw.png);
}
#sa{
background-image: url(../images/flags/sa.png);
}
#sb{
background-image: url(../images/flags/sb.png);
}
#sc{
background-image: url(../images/flags/sc.png);
}
#scotland{
background-image: url(../images/flags/scotland.png);
}
#sd{
background-image: url(../images/flags/sd.png);
}
#se{
background-image: url(../images/flags/se.png);
}
#sg{
background-image: url(../images/flags/sg.png);
}
#sh{
background-image: url(../images/flags/sh.png);
}
#si{
background-image: url(../images/flags/si.png);
}
#sj{
background-image: url(../images/flags/sj.png);
}
#sk{
background-image: url(../images/flags/sk.png);
}
#sl{
background-image: url(../images/flags/sl.png);
}
#sm{
background-image: url(../images/flags/sm.png);
}
#sn{
background-image: url(../images/flags/sn.png);
}
#so{
background-image: url(../images/flags/so.png);
}
#sr{
background-image: url(../images/flags/sr.png);
}
#st{
background-image: url(../images/flags/st.png);
}
#sv{
background-image: url(../images/flags/sv.png);
}
#sy{
background-image: url(../images/flags/sy.png);
}
#sz{
background-image: url(../images/flags/sz.png);
}
#tc{
background-image: url(../images/flags/tc.png);
}
#td{
background-image: url(../images/flags/td.png);
}
#tf{
background-image: url(../images/flags/tf.png);
}
#tg{
background-image: url(../images/flags/tg.png);
}
#th{
background-image: url(../images/flags/th.png);
}
#tj{
background-image: url(../images/flags/tj.png);
}
#tk{
background-image: url(../images/flags/tk.png);
}
#tl{
background-image: url(../images/flags/tl.png);
}
#tm{
background-image: url(../images/flags/tm.png);
}
#tn{
background-image: url(../images/flags/tn.png);
}
#to{
background-image: url(../images/flags/to.png);
}
#tr{
background-image: url(../images/flags/tr.png);
}
#tt{
background-image: url(../images/flags/tt.png);
}
#tv{
background-image: url(../images/flags/tv.png);
}
#tw{
background-image: url(../images/flags/tw.png);
}
#tz{
background-image: url(../images/flags/tz.png);
}
#ua{
background-image: url(../images/flags/ua.png);
}
#ug{
background-image: url(../images/flags/ug.png);
}
#um{
background-image: url(../images/flags/um.png);
}
#us{
background-image: url(../images/flags/us.png);
}
#uy{
background-image: url(../images/flags/uy.png);
}
#uz{
background-image: url(../images/flags/uz.png);
}
#va{
background-image: url(../images/flags/va.png);
}
#vc{
background-image: url(../images/flags/vc.png);
}
#ve{
background-image: url(../images/flags/ve.png);
}
#vg{
background-image: url(../images/flags/vg.png);
}
#vi{
background-image: url(../images/flags/vi.png);
}
#vn{
background-image: url(../images/flags/vn.png);
}
#vu{
background-image: url(../images/flags/vu.png);
}
#wales{
background-image: url(../images/flags/wales.png);
}
#wf{
background-image: url(../images/flags/wf.png);
}
#ws{
background-image: url(../images/flags/ws.png);
}
#ye{
background-image: url(../images/flags/ye.png);
}
#yt{
background-image: url(../images/flags/yt.png);
}
#za{
background-image: url(../images/flags/za.png);
}
#zm{
background-image: url(../images/flags/zm.png);
}
#zw{
background-image: url(../images/flags/zw.png);
}
